:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --primary-50: rgb(255, 240, 240);
  --primary-100: rgb(254, 230, 231);
  --primary-200: rgb(252, 207, 210);
  --primary-300: rgb(250, 168, 174);
  --primary-400: rgb(246, 116, 129);
  --primary-500: rgb(239, 83, 102);
  --primary-600: rgb(219, 36, 66);
  --primary-700: rgb(185, 24, 56);
  --primary-800: rgb(155, 23, 54);
  --primary-900: rgb(130, 23, 52);
  --primary-950: rgb(75, 7, 23);

  --neutral-0: rgb(255, 255, 255);
  --neutral-50: rgb(248, 250, 252);
  --neutral-100: rgb(241, 245, 249);
  --neutral-150: rgb(236, 236, 236);
  --neutral-200: rgb(226, 232, 240);
  --neutral-250: rgb(237, 237, 237);
  --neutral-300: rgb(203, 213, 225);
  --neutral-400: rgb(148, 163, 184);
  --neutral-500: rgb(100, 116, 139);
  --neutral-600: rgb(71, 85, 105);
  --neutral-700: rgb(51, 65, 85);
  --neutral-800: rgb(30, 41, 59);
  --neutral-900: rgb(15, 23, 42);
  --neutral-950: rgb(2, 6, 23);
  --neutral-1000: rgb(0, 0, 0);

  --success: rgb(187, 237, 182);
}

[data-theme='dark'] {
  --white: rgb(0, 0, 0);
  --black: rgb(255, 255, 255);

  --primary-50: rgb(75, 7, 23);
  --primary-100: rgb(130, 23, 52);
  --primary-200: rgb(155, 23, 54);
  --primary-300: rgb(185, 24, 56);
  --primary-400: rgb(219, 36, 66);
  --primary-500: rgb(239, 83, 102);
  --primary-600: rgb(246, 116, 129);
  --primary-700: rgb(250, 168, 174);
  --primary-800: rgb(252, 207, 210);
  --primary-900: rgb(254, 230, 231);
  --primary-950: rgb(255, 240, 240);

  --neutral-0: rgb(0, 0, 0);
  --neutral-50: rgb(2, 6, 23);
  --neutral-100: rgb(15, 23, 42);
  --neutral-150: rgb(30, 41, 59);
  --neutral-200: rgb(51, 65, 85);
  --neutral-250: rgb(71, 85, 105);
  --neutral-300: rgb(100, 116, 139);
  --neutral-400: rgb(148, 163, 184);
  --neutral-500: rgb(203, 213, 225);
  --neutral-600: rgb(226, 232, 240);
  --neutral-700: rgb(236, 236, 236);
  --neutral-800: rgb(237, 237, 237);
  --neutral-900: rgb(241, 245, 249);
  --neutral-950: rgb(248, 250, 252);
  --neutral-1000: rgb(255, 255, 255);

  --success: rgb(155, 233, 168);
}
